.hero-section {
  position: relative;
  height: 100vh;
  background: url('https://source.unsplash.com/1600x900/?code,technology') center/cover no-repeat;
}

.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.hero-section h1, .hero-section h3, .hero-section p {
  position: relative;
  z-index: 2;
}
