.navbar-top {
  background-color: transparent !important;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.navbar-scrolled {
  background-color: #1c1c1c !important;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.active-link {
  color: #0d6efd !important;
  font-weight: bold;
  border-bottom: 2px solid #0d6efd;
}

.navbar-nav .nav-link:hover {
  color: #0d6efd !important;
}

.theme-toggle {
  cursor: pointer;
  font-size: 1.2rem;
}
